.quoteContainer {
  width: 100%;
  margin: 50px 50px 30px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quoteText {
  width: 100%;
  font-size: 18px;
  text-align: start;
}

.author {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: start;
}
